# Admin access for /admin/* pages
ADMIN_PASSWORD=change-me

# Tuya Cloud (EU by default)
TUYA_BASE_URL=https://openapi.tuyaeu.com
TUYA_CLIENT_ID=
TUYA_CLIENT_SECRET=
TUYA_DEVICE_IDS=bfd52b965f5bb80646inny
